

*   {
    margin: 0;
    padding: 0;
    }
body { 
    background: #8B8070;
    margin: auto;
    padding: 1rem;
    color: #000000;
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: bold;
    }
.wrapper {
    box-sizing: border-box;
    padding: 1rem;
    background-color: white;
    margin: auto;
    border-width: .25rem;
    border-style: solid;
    width: 1200px; 
    line-height: 1.6;
    }
.box {
    display: flex;
    margin: .5rem;
    gap: 3rem;
    padding-top: 0.5rem;
    }
header {    
    text-align: center;
    }

h1 { 
    font-family: "Lora", system-ui;
    font-weight: bold;
    font-style: normal;
    font-size: 5rem;
    color: #ffffff;
    background-color: #505A61;
    
    }
h2 { 
    font-family: "Lora", system-ui;
    font-weight: 600;
    font-style: normal;
    margin: .5rem;
    font-size: 36px;
    text-align: center;
    color: #794F31;
    
    }
h3 { 
    font-family: "Poppins", system-ui;
    font-style: normal;
    color: #f5f9f9;
    font-size: 51px;
    font-weight: 600;
    text-align: center;
    background-color:#505A61;
    }
h4 { 
    font-family: "Lora", system-ui;
    font-style: normal;
    color: #794F31;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    padding-top: 2rem;
    }
nav li {
    display: inline;
    list-style-type: none;
    padding: 4rem;
    text-decoration: none;
    font-family: "Poppins", system-ui;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    }
 nav a:link {  
    color: #4e6567;  
    }  
nav a:hover {
    color: #794F31;
    }
nav a:visited {
    color: #000000;
    }
nav > ul{
    margin: 19px;
    }
footer {
    padding: 1rem;
    font-family: "Lora", system-ui;
    font-weight: normal;
    font-style: normal;
    text-align-last: left;
    }
.left {
    width: 600px;
    height:10px;
    margin: 10px;
    text-align: left;
    font-size: 17px;
    padding-top: 2.5rem; 
    font-weight: 600;
    } 
.right {
    width: 800px;
    margin: 10px;
    text-align: left;
    font-size: 16px;
    padding-top: 1rem; 
    
    } 
footer {
    text-align-last: center;
    font-family: "Lora", system-ui;
    font-size: 20px;
    font-weight: 500;
    }
.contact {
    text-align: center;
    padding-top: 4rem;
    }
